@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Roboto-normal';
        font-style: normal;
        font-weight: 400;
        src: url("/project_paw/public/assets/fonts/Roboto/Roboto-Black.ttf") format("ttf");
    }
}